.home-main-projects{
    max-width: 700px;
    margin: 0 auto;
    padding-inline: 1rem;
    margin-top: 3rem;
    padding-bottom: 5rem;
}

.home-main-projects h2{
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: -.025em;

}
.home-main-projects p{
    font-size: 1rem;
    padding-right: 3rem;
    font-weight:400;
    -webkit-font-smoothing: antialiased;
    line-height: inherit;
    /* letter-spacing: em; */
    color: #b4b4b4;
    /* line-height:1.25rem; */
    /* font-weight: 700; */
    letter-spacing: -.025em;
}

.project-details-image{
    /* position: absolute; */
    background-color: #282727;
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:1rem;
    margin-top: 3rem;
    /* width: 50rem; */
}

.project-details-image img{
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
}

.project-span{
    width: 70%;
    font-size: 0.85rem;
    
    margin: 1rem auto;
    text-align: center;
    color: #5a5757;
}


.project-disclaimer{
    /* width: 70%; */
    margin: 0 auto;
    /* height: 10rem; */
    font-size: 0.85rem;
    color: #5a5757;
    padding: 2rem;
    border: 1px solid #5a5757;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    grid:1rem;
}

@media screen and (max-width: 768px){
    .project-details-image{
        /* position: absolute; */
        background-color: none;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:1rem;
        margin-top: 2rem;
        /* width: 50rem; */
    }
    
}